<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>critter</title>
</head>
<body>
    <div class="main_bar">
        <div class="title_container">
            <h1>slug finder</h1>
        </div>
    </div>
    <div class="animal_container">

    </div>
    <div class="location_container">
        <div class="wru">where are we looking?:</div> 
        <form>
            <label class="custom-checkbox" tab-index="0" aria-label="Another Label">
                <label class="location_label">my current location:</label>
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <br><div> or </div><br>
            <label class="location_label">longitude:</label>
            <input type="text" id="longitude_input"><br>
            <label class="location_label">latitude:</label>
            <input type="text" id="latitude_input" ><br>
            <button type="submit" class="search_button">
                <i class="fas fa-search"></i>
            </button>
        </form> 
    </div>
    <script src="{% static 'javascript/app.js' %}"></script> 
</body>
</html>



