html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("../images/banana_slug_back.jpg");
    background-repeat: repeat;
    
}

.location_container {
    font-size: 1.5rem;
    margin: 10% auto;
    width: 50%;
    padding: 1rem;
    border: 1rem yellow solid;
}

input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 1rem;
  }

  input[type=text]:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 83, 19);

  }

  .wru{
    font-size: 1.5rem;
    margin-bottom: 25px;
  }

  .location_label, #longitude_input{
      margin-bottom: 10px;
  }

  .search_button {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    background-color: thistle;
    border: none;
    border-radius: 2rem;
  }

  .response_box {
    color: black;
    font-size: 1rem;
    margin: 10% auto;
    width: 50%;
    padding: 1rem;
    background: whitesmoke;
  }

  .custom-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

  }
  
  .custom-checkbox .label {
    font-size: 1.5rem;
  }
  
  .custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #222;
    display: inline-block;
    border-radius: 3px;
    background: rgb(13, 134, 63) url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
    transition: background-size 0.2s ease;
    margin-left: 20px;
  }
  
  .custom-checkbox input:checked + .checkmark {
    background-size: 60%;
  }
  
  .custom-checkbox input {
    display: none;
  }

  button:hover {
    cursor: pointer;
    background-color:  rgba(216, 191, 216, 0.596);
  }

  @media (min-width:1170px) {
    #latitude_input {
        margin-left: 22px;
    }
}